- @page_title = 'Resources'

.container
  #left
    Our training is based on a few concepts which are briefly
    described here.  Much more information on mindfulness can be found
    on the Internet or email us for more resources.

    %ul
      %li= link_to 'Five Mindfulness Trainings', doc_path('five_mindfulness_trainings')
      %li= link_to '14 Mindfulness Trainings', doc_path('14_mindfulness_trainings')
      %li= link_to 'Five Remembrances', doc_path('five_remembrances')

    Additional concepts found in our group:
    %ul
      %li= link_to 'Sitting Meditation', doc_path('concepts', anchor: 'sitting_meditation')
      %li= link_to 'Walking Meditation', doc_path('concepts', anchor: 'walking_meditation')
      %li= link_to 'Bell Ringing', doc_path('concepts', anchor: 'bell_ringing')
      %li= link_to 'Noble Silence', doc_path('concepts', anchor: 'noble_silence')
      %li= link_to 'Breathing', doc_path('concepts', anchor: 'breathing')

    Additional Resources
    %ul
      %li= link_to 'Plum Village', 'https://www.plumvillage.org/', target: '_blank'
      %li= link_to 'Deer Park Monastery', 'https://www.deerparkmonastery.org/', target: '_blank'
      %li= link_to 'Blue Cliff Monastery', 'https://www.bluecliffmonastery.org/', target: '_blank'
      %li= link_to 'Magnolia Grove Monastery', 'https://www.magnoliagrovemonastery.org/', target: '_blank'

  #right
    #mindfulness
