.header
  %h1 Bliss Run Mindfulness Community

  %span#subtitle Mindfulness is the way of becoming friends with others.

  %ul
    %li
      = link_to 'home', root_path
      = link_to 'about', about_path
      = link_to 'meetings', meetings_path
      = link_to 'calendar', calendar_path
      = link_to 'resources', resources_path
      = link_to 'contact', contact_path
