!!!
%html
  %head
    %meta{:http-equiv => "Content-Type", :content => "text/html; charset=utf-8"}/
    %meta{:http-equiv => "Content-Language", :content => "en"}/
    %meta{:http-equiv => "Content-Style-Type", :content => "text/css"}/
    %meta{:name => "keywords", :content => "bliss,run,mindfulness,community,meditation,columbus,ohio,thich,nhat,hanh"}/
    %meta{:name => "description", :content => "Bliss Run Mindfulness Community in Columbus Ohio"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}/

    <!-- Global site tag (gtag.js) - Google Analytics -->
    %script{:async=> "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-134361431-1"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-134361431-1');

      // Work around Turbolinks
      // https://www.mskog.com/posts/google-analytics-gtag-with-rails-5-and-turbolinks/
      document.addEventListener('turbolinks:load', event => {
        if (typeof gtag === 'function') {
          gtag('config', 'UA-134361431-1', {
            'page_location': event.data.url
          });
        }
      });

    %title
      = @page_title

    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    = render :partial => "layouts/header"

    - flash.each do |name, msg|
      = content_tag :div, msg, class: name

    = yield

    .footer<
      Copyright 2009-
      = Time.now.strftime("%Y")
