<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Style-Type" content="text/css">

    <meta name="keywords" content="bliss,run,mindfulness,community,meditation,columbus,ohio,thich,nhat,hanh">
    <meta name="description" content="Bliss Run Mindfulness Community in Columbus, Ohio">

    <title>Bliss Run Mindfulness Community - <%= @page_title %></title>

    <%= render :partial => "layouts/header" %>
  </head>

  <body>
    <%= stylesheet_link_tag "contact" %>

    <% if flash[:notice] || flash[:error] || flash[:success] -%>
      <%= puts :error, :notice, :success %>
    <% end -%>

    <%= yield %>
    <%= render :partial => "layouts/footer" %>
  </body>

</html>
